#add under /resources folder

mail.smtp.host=smtp.gmail.com
mail.smtp.starttls.enable=true
mail.smtp.auth=true
mail.smtp.port=587

mail.user=
mail.password=
mail.message.subject=Confirm register
mail.message.content=Hello, %s. To confirm your registration click following link: %s/%s
